<a href="https://colab.research.google.com/github/amien1410/colab-notebooks/blob/main/Colab_Pyspark_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#@title Download the dataset
!wget https://archive.ics.uci.edu/static/public/222/bank+marketing.zip
!unzip -q "/content/bank+marketing.zip"
!unzip -q "/content/bank.zip"

--2025-06-26 14:57:05--  https://archive.ics.uci.edu/static/public/222/bank+marketing.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified
Saving to: ‘bank+marketing.zip’

bank+marketing.zip      [ <=>                ] 999.85K  6.00MB/s    in 0.2s

2025-06-26 14:57:05 (6.00 MB/s) - ‘bank+marketing.zip’ saved [1023843]

In [2]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler
from pyspark.ml import Pipeline
from pyspark.ml.regression import LinearRegression
import pandas as pd

# 1. Start Spark session and read the data
filename = "/content/bank-full.csv"
spark = SparkSession.builder.getOrCreate()
data = spark.read.csv(filename, header=True, inferSchema=True, sep=';')
data.show()

# 2. Define a function to assemble feature vectors
def assemble_vectors(df, features_list, target_variable_name):
    assembler = VectorAssembler(inputCols=features_list, outputCol='features')
    pipeline = Pipeline(stages=[assembler])

    # Fit and transform data using the pipeline
    model = pipeline.fit(df)
    df_transformed = model.transform(df)

    # Select only necessary columns
    selectedCols = [target_variable_name, 'features'] + features_list
    return df_transformed.select(selectedCols)

# 3. Select numeric columns for regression
linear_df = data.select(['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous'])
target_variable_name = 'balance'
features_list = linear_df.columns
features_list.remove(target_variable_name)  # Exclude the target

# 4. Assemble the feature vectors
df = assemble_vectors(linear_df, features_list, target_variable_name)

# 5. Fit a linear regression model
reg = LinearRegression(featuresCol='features', labelCol='balance')
reg_model = reg.fit(df)

# 6. View coefficients and intercept
for k, v in df.schema['features'].metadata['ml_attr']['attrs'].items():
    features_df = pd.DataFrame(v)
    features_df['coefficients'] = reg_model.coefficients[:len(features_df)]
    print(features_df)

print(f"Intercept: {reg_model.intercept}")

# 7. Predict results on the same dataset
pred_result = reg_model.transform(df)
pred_result.show()

+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
| 58|  management| married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|
| 44|  technician|  single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|
| 33|entrepreneur| married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown| no|
| 47| blue-collar| married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|
| 33|     unknown|  single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown| no|
| 35|  management| married| tertiary|     no|    231|    yes|  no|unknown|  5|  may|     139|       1|   -1|       0| unknown| no|
| 28|  management|  single| tertiary|     no|    447|    yes| yes|unknown|  5|  may|     217|       1|   -1|       0| unknown| no|
| 42|entrepreneur|divorced| tertiary|    yes|      2|    yes|  no|unknown|  5|  may|     380|       1|   -1|       0| unknown| no|
| 58|     retired| married|  primary|     no|    121|    yes|  no|unknown|  5|  may|      50|       1|   -1|       0| unknown| no|
| 43|  technician|  single|secondary|     no|    593|    yes|  no|unknown|  5|  may|      55|       1|   -1|       0| unknown| no|
| 41|      admin.|divorced|secondary|     no|    270|    yes|  no|unknown|  5|  may|     222|       1|   -1|       0| unknown| no|
| 29|      admin.|  single|secondary|     no|    390|    yes|  no|unknown|  5|  may|     137|       1|   -1|       0| unknown| no|
| 53|  technician| married|secondary|     no|      6|    yes|  no|unknown|  5|  may|     517|       1|   -1|       0| unknown| no|
| 58|  technician| married|  unknown|     no|     71|    yes|  no|unknown|  5|  may|      71|       1|   -1|       0| unknown| no|
| 57|    services| married|secondary|     no|    162|    yes|  no|unknown|  5|  may|     174|       1|   -1|       0| unknown| no|
| 51|     retired| married|  primary|     no|    229|    yes|  no|unknown|  5|  may|     353|       1|   -1|       0| unknown| no|
| 45|      admin.|  single|  unknown|     no|     13|    yes|  no|unknown|  5|  may|      98|       1|   -1|       0| unknown| no|
| 57| blue-collar| married|  primary|     no|     52|    yes|  no|unknown|  5|  may|      38|       1|   -1|       0| unknown| no|
| 60|     retired| married|  primary|     no|     60|    yes|  no|unknown|  5|  may|     219|       1|   -1|       0| unknown| no|
| 33|    services| married|secondary|     no|      0|    yes|  no|unknown|  5|  may|      54|       1|   -1|       0| unknown| no|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

   idx      name  coefficients
0    0       age     28.083973
1    1       day      3.305546
2    2  duration      0.248828
3    3  campaign    -14.142676
4    4     pdays     -0.082488
5    5  previous     23.462993
Intercept: 124.9213009281818
+-------+--------------------+---+---+--------+--------+-----+--------+------------------+
|balance|            features|age|day|duration|campaign|pdays|previous|        prediction|
+-------+--------------------+---+---+--------+--------+-----+--------+------------------+
|   2143|[58.0,5.0,261.0,1...| 58|  5|     261|       1|   -1|       0|1821.2034908050941|
|     29|[44.0,5.0,151.0,1...| 44|  5|     151|       1|   -1|       0|1400.6567439120818|
|      2|[33.0,5.0,76.0,1....| 33|  5|      76|       1|   -1|       0|1073.0709104356752|
|   1506|[47.0,5.0,92.0,1....| 47|  5|      92|       1|   -1|       0|  1470.22778587604|
|      1|[33.0,5.0,198.0,1...| 33|  5|     198|       1|   -1|       0|1103.4279776401754|
|    231|[35.0,5.0,139.0,1...| 35|  5|     139|       1|   -1|       0|1144.9150466952035|
|    447|[28.0,5.0,217.0,1...| 28|  5|     217|       1|   -1|       0| 967.7358530699967|
|      2|[42.0,5.0,380.0,1...| 42|  5|     380|       1|   -1|       0| 1401.470506207587|
|    121|[58.0,5.0,50.0,1....| 58|  5|      50|       1|   -1|       0|1768.7006942464914|
|    593|[43.0,5.0,55.0,1....| 43|  5|      55|       1|   -1|       0| 1348.685242711086|
|    270|[41.0,5.0,222.0,1...| 41|  5|     222|       1|   -1|       0| 1334.071642984632|
|    390|[29.0,5.0,137.0,1...| 29|  5|     137|       1|   -1|       0| 975.9135524022053|
|      6|[53.0,5.0,517.0,1...| 53|  5|     517|       1|   -1|       0|1744.4837017059529|
|     71|[58.0,5.0,71.0,1....| 58|  5|      71|       1|   -1|       0|1773.9260910603807|
|    162|[57.0,5.0,174.0,1...| 57|  5|     174|       1|   -1|       0|1771.4714453814795|
|    229|[51.0,5.0,353.0,1...| 51|  5|     353|       1|   -1|       0|1647.5078950558138|
|     13|[45.0,5.0,98.0,1....| 45|  5|      98|       1|   -1|       0|1415.5528105764338|
|     52|[57.0,5.0,38.0,1....| 57|  5|      38|       1|   -1|       0| 1737.630780301053|
|     60|[60.0,5.0,219.0,1...| 60|  5|     219|       1|   -1|       0|1866.9206429951755|
|      0|[33.0,5.0,54.0,1....| 33|  5|      54|       1|   -1|       0|1067.5966852020767|
+-------+--------------------+---+---+--------+--------+-----+--------+------------------+
only showing top 20 rows